<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bckg-home main-div">

    <ion-card class="fondo-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center tc-w">Inicio de sesión</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-label class="tc-w" position="floating">Correo electronico</ion-label>
        <ion-input class="tc-w" placeholder="ingresa tu correo" #correo></ion-input>
        <ion-label class="tc-w" position="floating">Contraseña</ion-label>
        <ion-input class="tc-w" type="password" placeholder="Ingresa tu contraseña" #contra></ion-input>
        <ion-button expand="block" (click)="entrar(correo, contra)">
          Iniciar sesión
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>