.bckg-home{
    background-image: url("/assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } 
.main-div{
    padding-top: 25%;
    height: 100%;
}

.fondo-card{
  background-color: rgb(24 51 68 / 35%);
}

.tc-w{
  color: rgb(255, 255, 255);
}