<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bckg-home main-div">
  <ion-card class="fondo-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center tc-w">Registro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label class="tc-w" position="floating">Nombre</ion-label>
      <ion-input class="tc-w" placeholder="Ej: Victor Vargas" #nombre></ion-input>
      <ion-label class="tc-w" position="floating">Correo electronico</ion-label>
      <ion-input class="tc-w" required placeholder="abc@gmail.com" #correo></ion-input>
      <ion-label class="tc-w" position="floating">Contraseña</ion-label>
      <ion-input class="tc-w" type="password" placeholder="min 6 caracteres" #contra></ion-input>
      <ion-button expand="block" (click)="crear(correo,contra,nombre)">
        Registrarse
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>