<ion-header>
  <ion-toolbar>
    <ion-title>personaHome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Hola {{arg}}</ion-title>

  <ion-button (click)="abrirMeta()" expand="block">Crear Meta</ion-button>
  <div *ngIf="estadoCrearMeta==true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Meta nueva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre de la meta</ion-label>
          <ion-input placeholder="Alcanzar..." #nombreMeta></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Monto actual</ion-label>
          <ion-input placeholder="$999.999" #monto></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Monto a alcanzar</ion-label>
          <ion-input placeholder="$999.999" #montoDeseado></ion-input>
        </ion-item>
        <ion-button (click)="crearMeta(nombreMeta, monto, montoDeseado)" color="primary">Crear</ion-button>
        <ion-button (click)="cancelarCrearMeta()" color="danger">Cancelar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button (click)="listarMetas()">Ver mis Metas</ion-button>

  <div *ngIf="estadoListarMeta==true">
    <div>
      <h1>metas</h1>
      <div *ngFor="let a of listaMetaMia">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{a[0].nombreMeta}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Monto total</ion-label>
            <ion-item><p>{{a[0].monto}}</p></ion-item>
            <ion-label>Monto a alcanzar</ion-label>
            <ion-item><p>{{a[0].montoDeseado}}</p></ion-item>
            <ion-button (click)="abrirEditar()">Editar</ion-button>
            <div *ngIf="estadoEditar==true">
              <ion-item>
                <ion-label position="floating">Nombre de la meta</ion-label>
                <ion-input placeholder="Alcanzar..." #nombreMetaEd></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Monto actual nuevo</ion-label>
                <ion-input placeholder="$999.999" #montoEd></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Monto a alcanzar</ion-label>
                <ion-input placeholder="$999.999" #montoDeseadoEd></ion-input>
              </ion-item>
              <ion-button (click)="modificarMeta(a[0].correo, a[0].id, nombreMetaEd, montoEd, montoDeseadoEd)">Aceptar</ion-button>
              <ion-button (click)="cerrarModificar()">Cancelar</ion-button>
            </div>
            <ion-button (click)="borrarMeta(a[0].correo, a[0].id)">Eliminar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-button (click)="cerrarListado()">Cerrar</ion-button>
    </div>
  </div>
  
</ion-content>
