<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bckg-home main-div">
    <div class="separador"></div>
    <ion-card class="fondo-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center tc-w">Fince</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-center tc-w sepa">La aplicacion donde podrás crear hasta 3 metas financieras y conocer el valor de los indicadores economicos mas populares en Chile</p>
      <ion-button expand="block" (click)="login()">
        Iniciar sesión
      </ion-button>
      <ion-button expand="block" (click)="registro()">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
  </div>

</ion-content>
